.CodeMirror {
    min-height: 1169px !important;
    width: 827px !important;
    border-radius: 4px;
}

body {
    /* background-color: #333; */
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-top: 0;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(241, 241, 241); /* Green */
    border: 0;
    box-shadow: 0px 0px 2px 1px #15151533;
    color: black;
    background-color: white;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

#toolbar {
    padding-bottom: 10px;
}

#preview {
    display: none;
}

.CodeMirror {
    box-shadow: 0px 0px 2px 1px #15151533;
    padding: 30px;
    overflow: hidden;
}

#preview {
    min-height: 1169px;
    width: 827px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px #15151533;
    padding: 30px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    border-radius: 4px;
}

.CodeMirror-scroll {
    overflow: hidden !important;
}

.cm-s-default { font-size: 18px }
.cm-s-default { font-family: "Arial", sans-serif; }
.cm-s-default .cm-header {
    color: black;
    font-weight: normal;
    font-size: 24px;
}

#info {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 12px;
    color: #999;
}