.CodeMirror {
    min-height: 1169px !important;
    width: 827px !important;
    border-radius: 4px;
}

body {
    /* background-color: #333; */
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    display: flex;
    font-family: "Arial", sans-serif;
    justify-content: center;
    align-items: center;
}

.width-600 {
    max-width: 600px;
}

h1 {
    margin-top: 0;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    box-shadow: 0px 0px 2px 1px #15151533;
    color: black;
    background-color: white;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}

button:active {
    background-color: #e6e6e6;
}

#toolbar {
    padding-bottom: 10px;
}

#preview img {
    max-width: 827px;
}

.CodeMirror {
    box-shadow: 0px 0px 2px 1px #15151533;
    padding: 30px;
    overflow: hidden;
}

#preview {
    display: none;
    min-height: 1169px;
    width: 827px;
    background-color: white;
    box-shadow: 0px 0px 2px 1px #15151533;
    padding: 30px;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    border-radius: 4px;
}

.CodeMirror-scroll {
    overflow: hidden !important;
}

.cm-s-default { font-size: 18px }
.cm-s-default { font-family: "Arial", sans-serif; }
.cm-s-default .cm-header {
    color: black;
    font-weight: normal;
    font-size: 24px;
}

#info {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    font-size: 13px;
    color: #000000;
}
#info p {
    box-shadow: 0px 0px 2px 1px #15151533;
    background-color: rgb(255, 255, 255);
    padding: 10px 16px;
    border-radius: 4px;
}

#popup {
    font-family: "Arial", sans-serif;
    display: block;
    color: #222;
    opacity: 0;
    transition: none;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    padding: 0px 10px;
    border-radius: 4px;
    border: 2px solid #63e617;
    box-shadow: 0px 0px 2px 1px #15151533;
}