.CodeMirror {
    height: 300px;
}

.CodeMirror {
    border: 1px solid rgb(91, 91, 91);
}

.cm-s-default { font-size: 14px }
.cm-s-default { font-family: "Times New Roman", sans-serif; }
.cm-s-default .cm-header {
    color: black;
    font-weight: normal;
    font-size: 24px;
}